input[type=text], select {
    width: 40%;
    display: inline-block;
    padding: 0px 10px;
    border: 1px solid #ccc;
    background-color: #ccccccc0;
    box-sizing: border-box;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

/* random color */
/*   :root {
    --shadowColor: blue;
}

.nav a:hover {
    color: white;
    background-size: 1px 50px;

    text-shadow: -2px 0px var(--shadowColor);
} */